/* Mobile */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  font-size: 24px;
}
main {
  height: 100vh;
  /* background-image: url("../img/wall.jpeg"); */
  /* background-repeat: repeat; */
  /* background-attachment: fixed; */
  /* background-size: 500px 200px; */
  /* background-position: center center; */
  font-size: 12px;
  /* width: 50%; */
}
h1 {
  color: red;
  /* color: red; */
  /* color: #ff0000; */
  /* color: rgb(255, 0, 0); */
  /* color: rgba(255, 0, 0, 0.1); */
  /* color: #ff000019; */
  opacity: 0.9;
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial, sans-serif;
}
img {
  width: 100%;
  /* min-width: 400px;
  max-width: 1200px; */
  height: 200px;
}
#id {
  width: 50%;
}
.classes {
  width: 20%;
}

.classe2 {
  width: 30%;
}

/* Tablet */
@media only screen and (min-width: 600px) {
  h1 {
    color: blue;
  }
  img {
    width: 80%;
  }
}

/* Desktop */
@media only screen and (min-width: 992px) {
  h1 {
    color: green;
  }
  img {
    width: 50%;
  }
}
